@model List<Sessions>
@{
    ViewData["Title"] = "SessionList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/js/popper.min.js"></script>
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<div class="main-content py-5 mb-5">
    <div class="container">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h4>Sunumlara Kayıtlı Öğrenciler</h4>
                    <hr />
                </div>
            </div>
        </div>

        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-md-12">
                <ul class="list-group">
                    @foreach (var item in Model)
                    {
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-6" align="right">
                                    @item.SessionId
                                </div>
                                <div class="toggle" id="dropdown-detail-@item.SessionId.ToString()" data-toggle="detail-@item.SessionId.ToString()">
                                    <i class="fa fa-chevron-down pull-right"></i>
                                </div>
                            </div>
                            <div id="detail-@item.SessionId.ToString()">
                                <hr>
                                <div class="container">
                                    <div class="fluid-row">
                                        <div class="col-xs-1">
                                            <div class="row mb-3">
                                                <div class="col-md-2">
                                                    Başlangıç Zamanı : @item.StartTime
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-2">
                                                    Bitiş Zamanı : @item.EndTime
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-1">
                                                    <button class="btn btn-danger" onclick="deleteSession(@item.SessionId)">
                                                        Sil
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<script>

    function deleteSession(id) {
        $.ajax({
            type: "POST",
            url: "/Teacher/DeleteSession?id=" + id,
            data: null,
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                alert(response);
                window.location.reload()
            },
        });
    }

    $(document).ready(function () {
        $('[id^=detail-]').hide();
        $('.toggle').click(function () {
            $input = $(this);
            $target = $('#' + $input.attr('data-toggle'));
            $target.slideToggle();
        });
    });
</script>