@model IEnumerable<Presentation>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    .gallery-title {
        font-size: 36px;
        color: #42B32F;
        text-align: center;
        font-weight: 500;
        margin-bottom: 70px;
    }

        .gallery-title:after {
            content: "";
            position: absolute;
            width: 7.5%;
            left: 46.5%;
            height: 45px;
            border-bottom: 1px solid #5e5e5e;
        }

    .filter-button {
        font-size: 18px;
        border: 1px solid #42B32F;
        border-radius: 5px;
        text-align: center;
        color: #42B32F;
        margin-bottom: 30px;
    }

        .filter-button:hover {
            font-size: 18px;
            border: 1px solid #42B32F;
            border-radius: 5px;
            text-align: center;
            color: #ffffff;
            background-color: #42B32F;
        }

    .btn-default:active .filter-button:active {
        background-color: #42B32F;
        color: white;
    }

    .port-image {
        width: 100%;
    }

    .gallery_product {
        margin-bottom: 30px;
    }
</style>
<script src="~/js/jquery-3.2.1.min.js"></script>
<script>
    @if (ViewData.ModelState["Error"] != null)
        {
            <text>
            $(document).ready(function () {
                alert('@ViewData.ModelState["Error"].Errors.First().ErrorMessage');
            });
            </text>
        }

</script>

<section>
    <div class="container">
        <div class="row">
            <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="gallery-title">Sunumlar</h1>
            </div>
            @foreach (var item in Model)
            {
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                    <h2>
                        <a asp-controller="Presentations"
                           asp-action="Details"
                           asp-route-id="@item.PresentationId">@item.PresentationName</a>
                    </h2>
                </div>
            }
        </div>

    </div>
</section>

